@font-face {
  font-family: "Open Sans";
  src: url("./Fonts/OpenSans-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  background-color: #242424;
  font-family: "Open Sans";
}
